{
    "port": 9797,
    "loggingBufferSize": 100,
    "logLevel": "debug",
    "hueUserKey": "",
    "pushoverAppKey": "",
    "pushoverUserKey": "",
    "hueStateUpdateInterval": 3000,
    "defaultSonosPlayUri": "",
    "doorbellGpioPin": 7
}