<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div id="connectionStatusAlert" class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            <span id="connectionStatusLabel">Not connected!</span>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="jumbotron">
            <h1 class="display-3">HomeCtrl</h1>
            <hr class="my-2">
            <p class="lead"><strong class="mr-1">Log:</strong><span id="logTicker"></span></p>
            <p class="lead"><strong class="mr-1">Event:</strong><span id="eventTicker"></span></p>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>