<h1>{{viewTitle}}</h1>

<div class="row">
    <div class="col-md-4">
        <div class="input-group">
            <input type="text" id="eventInput" class="form-control" placeholder="Event" value="echo.ping" />
        </div>
    </div>
    <div class="col-md-8">
        <div class="input-group">
            <input type="text" id="payloadInput" class="form-control" placeholder="Payload (JSON)" />
            <span class="input-group-btn">
                <button id="btnSend" type="button" class="btn btn-primary">Send</button>
            </span>
        </div>
    </div>
</div>
<hr class="my-2">
<div class="row">
    <div class="col-md-12" id="eventContainer"></div>
</div>

<script src="/static/events.js"></script>