<h1>{{viewTitle}}</h1>

<div class="row">
    <div class="col-md-12" id="logContainer">
        {{#each logs}} 
        <div>[{{this.timestamp}}][{{this.level}}]: {{this.message}}</div>
        {{/each}}
    </div>
</div>

<script src="/static/logs.js"></script>